.myButtons{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled{
    background-color: hsl(204, 100%, 50%);
    color: white;   
}

.disabled{
    background-color: hsl(0, 0%, 60%) !important;
    color: hsl(0, 0%, 80%) !important;
}

.hover{
    background-color: red;
    color: blue;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
}

